.main_background{
  width: 100vw;
  height: 100vh;
  position: absolute;
	background-image:url(../../assets/orig.jpeg);
	background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(7px) grayscale(50%);
}
.main_button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}