<app-navbar></app-navbar>
<div class="text-center">
  <span>Exaple 1</span>
</div>
<mat-form-field class="example-full-width">
  <input matInput [(ngModel)]="title" placeholder="title"/>
</mat-form-field>
<div>{{title}}</div>
<mat-divider></mat-divider>
<br>
<div class="text-center">
    <span>Exaple 2</span>
</div>
  <div>
    <div class="form-group">
        <label>Name model: </label>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="phone.title" placeholder="phone"/>
        </mat-form-field>
    </div>
    <div class="form-group">
        <label>Price: </label>
        <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="phone.price" placeholder="price"/>
        </mat-form-field>
    </div>
    <div class="form-group">
        <label>Inventor: </label>
        <mat-form-field>
            <mat-label>Company</mat-label>
            <mat-select>
              <mat-option *ngFor="let comp of companies" [value]="phone.company">
                {{comp}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group">
        <button mat-raised-button color="accent" mat-button (click)="addPhone()">Add</button>
    </div>
</div>
<div>
  <h3>Added items</h3>
  <ul *ngFor="let p of phones">
      <li>{{p.title}} ({{p.company}}) - {{p.price}}</li>
  </ul>
</div>
